html {
    font-size: 100px;

    @media screen and (max-width: 768px) {
        font-size: 26.666vw;
    }

    body {
        box-sizing: border-box;
        font-size: 0;
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
            'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
            sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

    }

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-appearance: none !important;
        -webkit-font-smoothing: antialiased;
    }
}

.container {
    width: 100%;
    max-width: 12rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}